[submodule "external/dnglab"]
	path = external/dnglab
	url = ../dnglab.git
	branch = main


[submodule "external/exiftool"]
	path = external/exiftool
	url = ../exiftool.git
	branch = master
[submodule "external/RawTherapee"]
	path = external/RawTherapee
	url = ../RawTherapee.git
	branch = dev
[submodule "external/colour"]
	path = external/colour
	url = ../colour.git
	branch = master
[submodule "external/rawloader"]
	path = external/rawloader
	url = ../rawloader.git
	branch = master
